body{
    background-image: url("../images/todo.jpg");
    background-size:cover;
    height: 100vh;
}

#form1{
    background-color:rgb(33, 53, 88) ; 
    padding: 30px;
}

#demo{
    color: white;
}
.card{
    background-color:rgb(33, 53, 88) ;
}
